@{
    ViewBag.Title = "Shop";
    ViewBag.InitModule = "AngularStore";

    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ScriptFolder/shoppingListModule.js"></script>
    <script src="~/Scripts/ScriptFolder/ShoppingListController.js"></script>
    <script src="~/Scripts/ScriptFolder/shoppingListService.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ScriptFolder/Routing.js"></script>
    
}

@*@section MyScripts
{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ScriptFolder/shoppingListModule.js"></script>
    <script src="~/Scripts/ScriptFolder/ShoppingListController.js"></script>
    <script src="~/Scripts/ScriptFolder/shoppingListService.js"></script>
}*@
<div ng-view></div>