<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  
    <head>
        <title>Shopping List</title>
    </head> 
    
    <body ng-app="shoppingListModule">
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <table ng-controller="shoppingListController" class="table table-condensed table-hover">
                        <tr>
                            <th class="col-xs-8">Lists</th>
                            <th class="col-xs-2">Author</th>
                            <th class="col-xs-2"></th>
                        </tr>

                        <tr ng-repeat="list in shoppingLists">
                            <td><a ng-href="ShoppingList/{{list.ShoppingListId}}">{{list.ShoppingListName}}</a></td>
                            <td>{{list.ShoppingListAuthor}}</td>
                            <td>
                                <button class="btn-default btn-xs" ng-click="removeList(list.ShoppingListId)">Remove</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5"></div>
            </div>    
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <form ng-controller="shoppingListController" name="newListForm" >
                        <button ng-click="addList(newListName)" class="btn-default btn-sm" ng-disabled="{{newListForm.newListInput.$error.required}}">Add List</button>
                        <input name="newListInput" type="text" required placeholder="Enter name of new list." ng-model="newListName"/>
                    </form>
                 </div>
            </div>
        </div>
 
        <br></br>
        <br></br> 


    </body>
</html>
