<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  
    <head>
        <title>Shopping List</title>
    </head> 
    
    <body ng-app="shoppingListModule">
        

        <table ng-controller="shoppingListController" class="table table-condensed table-hover">
            <tr>
                <th class="col-xs-8">Lists</th>
                <th class="col-xs-2">Author</th>
                <th class="col-xs-2"></th>
            </tr>

            <tr ng-repeat="list in shoppingLists">
                <td>{{list.ShoppingListName}}</td>
                <td>{{list.ShoppingListAuthor}}</td>
                <td>
                    <button ng-click="accept($index)">Remove</button>
                    <p ng-show="showResult($index)"><strong>je suis ton amis</strong></p> 
                    <p ng-show="showResult2()"><strong>you refuse me</strong></p>      
                </td>
            </tr>
        </table>
        <div align="left">
            <form ng-controller="shoppingListController" name="newListForm" ng-submit="">
                <button style="margin-left: 100px" disabled="{{newListForm.newListInput.$error.required}}">Add List</button>
                <input name="newListInput" type="text" required placeholder="Enter name of new list." ng-model="newListName"/>
            </form>
        </div>
        <br></br>
        <br></br> 


    </body>
</html>
